/* .problem {
  display: flex;
  flex-direction: row;
  align-items: center;
} */

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 500px;
}
